
[run]
branch = True
source = .
omit =
    tests/*
    .venv/*
    */site-packages/*
    */venv/*
    */__pycache__/*
    */htmlcov/*

[report]
show_missing = True
skip_covered = False

[xml]
output = coverage.xml
